<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>DAVIDS.SALON(B2)</string>
	<string>CHIROPRACTIC.CLINIC(B2)</string>
	<string>RUIZ.DERMA&amp;SPA(B2)</string>
	<string>DERMSITE(B2)</string>
	<string>SKIN.SCIENCE.CENTRE(B2)</string>
	<string>FRESHAIRE.SALON(B2)</string>
	<string>MAANYAG.SAP(B2)</string>
	<string>CARE.AND.CURE.HUB(B2)</string>
	<string>CFG(B2)</string>
	<string>METRO.GAISANO.DEPARMENT.STORE(B2)</string>
	<string>BANK.OF.THE.PHILIPPINE.ISLANDS(B1)</string>
	<string>HOLLYWOOD.NAILS(B1)</string>
	<string>JOLLY.BARBERS(B1)</string>
	<string>ANNES1(B1)</string>
	<string>ANNES2(B1)</string>
	<string>KALYE.SUBGU(B1)</string>
	<string>SKINTECH(B1)</string>
	<string>BRUNOS.BARBERS(B1)</string>
	<string>DERMCARE(B1)</string>
	<string>DENTALAND(B1)</string>
	<string>CHILDRENS.PLAY.AREA(B1)</string>
	<string>RUSTANS.SUPERMARKET(B1)</string>
	<string>METRO.GAISANO.DEPARMENT.STORE(B1)</string>
	<string>ATM(B1)</string>
	<string>158.DESIGNERS.BOULEVARD(GL)</string>
	<string>GEOX(GL)</string>
	<string>LACOSTE1(GL)</string>
	<string>ALBERTO(GL)</string>
	<string>HUSH.PUPPIES(GL)</string>
	<string>PARFOIS(GL)</string>
	<string>OFFICINE(GL)</string>
	<string>WRIST.POD(GL)</string>
	<string>MANGO(GL)</string>
	<string>FILIPPO(GL)</string>
	<string>STEVE.MADDEN(GL)</string>
	<string>SPRINGFIELD(GL)</string>
	<string>FLORSHEIM(GL)</string>
	<string>PRIMA.LINEA(GL)</string>
	<string>LINEA.ITALIA(GL)</string>
	<string>JIUJO(GL)</string>
	<string>JEWELMER(GL)</string>
	<string>M.LHUILLIER.JEWELLERS(GL)</string>
	<string>LUCERNE(GL)</string>
	<string>RUSTANS(GL)</string>
	<string>WATCH.WORKS(GL)</string>
	<string>CHARLES&amp;LEITH(GL)</string>
	<string>NINE.WEST(GL)</string>
	<string>RED.TOE.RUN(GL)</string>
	<string>CELIO(GL)</string>
	<string>THE.TRAVEL.CLUB(GL)</string>
	<string>THE.ATHLETES.FOOT(GL)</string>
	<string>LOALDE(GL)</string>
	<string>GNC(GL)</string>
	<string>PEREX.OPTICAL(GL)</string>
	<string>THE.TIMEX.SHOP(GL)</string>
	<string>FORWARD.AND.SCOOP(GL)</string>
	<string>CUSTOMER.LOUNGE(GL)</string>
	<string>MARKS.AND.SPENCER(GL)</string>
	<string>OH.GEORGE!(GL)</string>
	<string>SHISEIDO(GL)</string>
	<string>GAP(GL)</string>
	<string>ZARA(GL)</string>
	<string>WSI(GL)</string>
	<string>PHILIP.STEIN(GL)</string>
	<string>EVER.NEW(GL)</string>
	<string>SUPERDRY.STORE(GL)</string>
	<string>WISH.FOR.IT.AEROPOSTALE(GL)</string>
	<string>TUMI(GL)</string>
	<string>SLEDGERS(GL)</string>
	<string>BENCH.GROUP(GL)</string>
	<string>H.E.BY.MANGO(GL)</string>
	<string>MANGO(MEN)</string>
	<string>YVES.ROCHER(GL)</string>
	<string>TEOLLBEADS(GL)</string>
	<string>ATM1(GL)</string>
	<string>ETAM(GL)</string>
	<string>PROMOD(GL)</string>
	<string>CHOCOLATE(GL)</string>
	<string>CROCS(GL)</string>
	<string>UNITED.COLORS.OF.BENETTON(GL)</string>
	<string>FOSSIL(GL)</string>
	<string>TRUE.VALUE(GL)</string>
	<string>LACOSTE2(GL)</string>
	<string>JUST.JEWELS(GL)</string>
	<string>NATURA.LIZER(GL)</string>
	<string>LE.LEAN.DE.MARITHE(GL)</string>
	<string>THE.BODY.SHOP(GL)</string>
	<string>XOXO(GL)</string>
	<string>BEAUTY.BAR(GL)</string>
	<string>VANS(GL)</string>
	<string>TERRANOVO(GL)</string>
	<string>NAUTICA(GL)</string>
	<string>ETUDE.HOUSE(GL)</string>
	<string>LEVIS.1(GL)</string>
	<string>LEVIS.2(GL)</string>
	<string>GIORDANO(GL)</string>
	<string>MERIDIAN.TIME(GL)</string>
	<string>CMG(GL)</string>
	<string>ALL.FLIP.FLOPS(GL)</string>
	<string>CALL.IT.SPRING(GL)</string>
	<string>ROCKPORT(GL)</string>
	<string>SAMSONITE(GL)</string>
	<string>HOT.FLOPS(GL)</string>
	<string>PEOPLE.ARE.PEOPLE(GL)</string>
	<string>RED.BOX(GL)</string>
	<string>RED.RIBBON(GL)</string>
	<string>MAXS.RESTAURANT(GL)</string>
	<string>GELATISSIMO(GL)</string>
	<string>BANANA.LEAF(GL)</string>
	<string>SEATTLES.BEST.COFFEE(GL)</string>
	<string>SUMOSAM(GL)</string>
	<string>DOCKERS(GL)</string>
	<string>T.G.I.FRIDAYS(GL)</string>
	<string>CAFÉ.LAGUNA(GL)</string>
	<string>UCC.CAFÉ.TERRACE(GL)</string>
	<string>THE.SPA.AT.CEBU(GL)</string>
	<string>GREEN.APPLE.DENTAL(GL)</string>
	<string>BELA(GL)</string>
	<string>MAITRE.CHOCOLATIER(GL)</string>
	<string>HEALTHY.OPTIONS(GL)</string>
	<string>TONKATSU(GL)</string>
	<string>CYMA(GL)</string>
	<string>ITALIANNIS(GL)</string>
	<string>SIAM.THAI.CUISINE(GL)</string>
	<string>THE.COFFEE.BEAN.&amp;.TEA.LEAF(GL)</string>
	<string>LAGUNA.GARDEN(GL)</string>
	<string>AYALA.LAND.PREMIER.SHOWROOM(GL)</string>
	<string>MESA(GL)</string>
	<string>LA.TEGOLA(GL)</string>
	<string>STARBUCKS(GL)</string>
	<string>TOP.SHOP(GL)</string>
	<string>GUESS(GL)</string>
	<string>SPRIT(GL)</string>
	<string>PENGUIN(GL)</string>
	<string>PABDER(GL)</string>
	<string>FOOTNOTES(GL)</string>
	<string>ARROW(GL)</string>
	<string>METRO.GAISANO.DEPARMEN.STORE(GL)</string>
	<string>COLOR.STONE.ENTERPRISE(GL)</string>
	<string>WAGAS.CRAFTS(GL)</string>
	<string>SILVERWORKS(GL)</string>
	<string>SWATCH(GL)</string>
	<string>ATM2(GL)</string>
	<string>LIGHTERS.GALORE(GL)</string>
	<string>TBS(GL)</string>
	<string>FUMA(GL)</string>
	<string>MOBILE1(GL)</string>
	<string>INFORMATION(GL)</string>
	<string>FILI(GL)</string>
	<string>ONITSUKA.TIGER(GL)</string>
	<string>GOLDILOCKS(2F)</string>
	<string>ASTROVISION(2F)</string>
	<string>AJIICHIBAN(2F)</string>
	<string>MERCURY.DRUG(2F)</string>
	<string>ROSE.PHARMACY(2F)</string>
	<string>TROPIKAL.RELIK(2F)</string>
	<string>SO.FAB!(2F)</string>
	<string>LEAVELAND(2F)</string>
	<string>M.NICOLE.BY.FIGLIA(2F)</string>
	<string>ACEBEDO.OPTICAL(2F)</string>
	<string>TRAFFIC(2F)</string>
	<string>WAGW(2F)</string>
	<string>BALLOONEY(2F)</string>
	<string>NO.CURFEW(2F)</string>
	<string>3JS.PEARLS&amp;GEMS(2F)</string>
	<string>GEMS&amp;DESIGNS.BY.PREMIUM.CONCEPTS(2F)</string>
	<string>MUJI(2F)</string>
	<string>MALDITA(2F)</string>
	<string>BISAYA.ISPISYAL(2F)</string>
	<string>MEG(2F)</string>
	<string>KARIMADON(2F)</string>
	<string>ORO.CHINA(2F)</string>
	<string>MEMO(2F)</string>
	<string>BASIC.HOUSE(2F)</string>
	<string>GRND(2F)</string>
	<string>SUNGLASS.HUT(2F)</string>
	<string>TERRA.AND.AUA(2F)</string>
	<string>FRESH(2F)</string>
	<string>SHOE(2F)</string>
	<string>YAKYPAK(2F)</string>
	<string>SPERRY.TOP.SIDER(2F)</string>
	<string>KEDS(2F)</string>
	<string>MOSSIMO(2F)</string>
	<string>DELSEY(2F)</string>
	<string>BACK(2F)</string>
	<string>JOY(2F)</string>
	<string>F.AND.F(2F)</string>
	<string>BRITISH.INDIA(2F)</string>
	<string>JUST.G.(2F)</string>
	<string>FLIGHT.001(2F)</string>
	<string>YOSI.SAMRA(2F)</string>
	<string>BOOTCAMP(2F)</string>
	<string>TIMEGEAR(2F)</string>
	<string>ASICS(2F)</string>
	<string>BAMBU(2F)</string>
	<string>MANGO(KIDS)</string>
	<string>SNEAK.PEEK(2F)</string>
	<string>CLAIRES(2F)</string>
	<string>ISTORE(2F)</string>
	<string>HUMAN(2F)</string>
	<string>RAE.BY.PLAINS.AND.PRINTS(2F)</string>
	<string>REGATTA(2F)</string>
	<string>MENTAL(2F)</string>
	<string>SIMON(2F)</string>
	<string>FOLDED.AND.HUNG(2F)</string>
	<string>KASHIECA(2F)</string>
	<string>LAVA(2F)</string>
	<string>HOT.PINK(2F)</string>
	<string>LADY.BAG(2F)</string>
	<string>VMV.HYPOALLERGENICS(2F)</string>
	<string>KAMISETA(2F)</string>
	<string>FIGARO(2F)</string>
	<string>BONCHON.CHICKEN(2F)</string>
	<string>IORA(2F)</string>
	<string>EP.ESPADA(2F)</string>
	<string>SEIKO(2F)</string>
	<string>SUNNY.SIDE.UP(2F)</string>
	<string>BOYA(2F)</string>
	<string>PLAINS.AND.PRINTS(2F)</string>
	<string>BROADWAY.GEMS(2F)</string>
	<string>ARTWORK(2F)</string>
	<string>ISIS(2F)</string>
	<string>FREEWAY(2F)</string>
	<string>TICKLES(2F)</string>
	<string>MARCELLA(2F)</string>
	<string>MENDREZ(2F)</string>
	<string>JANYLIN(2F)</string>
	<string>SKIN.FOOD(2F)</string>
	<string>BLUED(2F)</string>
	<string>RUSTY.LOPEZ(2F)</string>
	<string>VISION.EXPRESS(2F)</string>
	<string>CHELSEA(2F)</string>
	<string>GIBI.HOUSE(2F)</string>
	<string>CONVERSE(2F)</string>
	<string>ADINA(2F)</string>
	<string>AW.GIFT.SHOPPE(2F)</string>
	<string>ESSENXA(2F)</string>
	<string>ONE.PERFECT.FASHION(2F)</string>
	<string>NIMA(2F)</string>
	<string>THE.OPTICAL.SHOP(2F)</string>
	<string>JULY(2F)</string>
	<string>COLLEZINE(2F)</string>
	<string>KODAK.EXPRESS(2F)</string>
	<string>NATIONAL.BOOKSTORE(2F)</string>
	<string>M.LHUILLIER.JEWELLERS(2F)</string>
	<string>BLUE.MAGIC(2F)</string>
	<string>ISLANDSSOUVENIRS(2F)</string>
	<string>BENCH1(2F)</string>
	<string>BENCH2(2F)</string>
	<string>EO.EXECUTIVE.OPTICAL(2F)</string>
	<string>ODYSSEY(2F)</string>
	<string>OLYMPIC.VILLAGE(2F)</string>
	<string>CHRIS.SPORTS(2F)</string>
	<string>BRATPACK(2F)</string>
	<string>RUNNR(2F)</string>
	<string>PENSHOPPE(2F)</string>
	<string>FOR.ME(2F)</string>
	<string>OXYGEN(2F)</string>
	<string>WATSONS(2F)</string>
	<string>CELINE(2F)</string>
	<string>BOS.COFFEE1(2F)</string>
	<string>BIG.MAO(2F)</string>
	<string>ARMY.NAVY(2F)</string>
	<string>GERRYS.GRILL(2F)</string>
	<string>THE.CANVANS(2F)</string>
	<string>RED.KIMONO(2F)</string>
	<string>SHABUWAY(2F)</string>
	<string>MOON.CAFÉ(2F)</string>
	<string>TSIM.SHA.TSUI.DIMSUM&amp;TEA.BAR(2F)</string>
	<string>HUKAD(2F)</string>
	<string>SUNBURST(2F)</string>
	<string>THE.PICTURE.COMPANY(2F)</string>
	<string>FULLY.BOOKED(2F)</string>
	<string>STARBUCKS(2F)</string>
	<string>BREAD.TALK(2F)</string>
	<string>PANCAKE.HOUSE(2F)</string>
	<string>SIZZLINPEPPER.STEAK(2F)</string>
	<string>TERIYAKI.BOY(2F)</string>
	<string>SMALL.SOUVENIR(2F)</string>
	<string>DUNKIN.DONUTS(2F)</string>
	<string>CEBU.AYALA.CENTER(2F)</string>
	<string>COCOON(2F)</string>
	<string>COMPLEX(2F)</string>
	<string>BDO(2F)</string>
	<string>DE.LOS.REYES.OPTICAL(2F)</string>
	<string>KRISPY.KREME(2F)</string>
	<string>BOS.COFFEE2(2F)</string>
	<string>PUMA(2F)</string>
	<string>PLANET.SPORTS(2F)</string>
	<string>ROX(2F)</string>
	<string>D.C.SHOES(2F)</string>
	<string>SANUK(2F)</string>
	<string>NIKE.PARK(2F)</string>
	<string>SPEEDO(2F)</string>
	<string>TIMEZONE(2F)</string>
	<string>ADIDAS(2F)</string>
	<string>SBARRO(2F)</string>
	<string>METRO.GAISANO.DEPARMENT.STORE(2F)</string>
	<string>GET.SOME(2F)</string>
	<string>CANDY.CORNER(2F)</string>
	<string>KEYCARDS(2F)</string>
	<string>UNISILVER(2F)</string>
	<string>HEALTH.EXPRESS(2F)</string>
	<string>SOMERA(2F)</string>
	<string>ATM1(2F)</string>
	<string>ATM2(2F)</string>
	<string>ZEN.ZEST(2F)</string>
	<string>SCENTS(2F)</string>
	<string>SOPHIES(2F)</string>
	<string>SMOKEYS(2F)</string>
	<string>THIRSTY(2F)</string>
	<string>SUELDS(2F)</string>
	<string>ASPREY(2F)</string>
	<string>MONUKA.HEALTH(2F)</string>
	<string>PARA.IBA(2F)</string>
	<string>GIRL(2F)</string>
	<string>LAGUNA.GARDEN(2F)</string>
	<string>RUDY.PROJECT(3F)</string>
	<string>EMPIRE.GOLF(3F)</string>
	<string>THE.SUN.SHOP(3F)</string>
	<string>VIPINOY(3F)</string>
	<string>FITNESS&amp;ATHLETICS(3F)</string>
	<string>PIXELPOINT(3F)</string>
	<string>TIME.DEPOT(3F)</string>
	<string>CASE.VERDE(3F)</string>
	<string>CHIKAOAN(3F)</string>
	<string>BIGBYS(3F)</string>
	<string>STOKED(3F)</string>
	<string>RAI.RAI.KEN(3F)</string>
	<string>PERSIAN.PALATE(3F)</string>
	<string>JUEGO(3F)</string>
	<string>MERRELL(3F)</string>
	<string>SKECHERS(3F)</string>
	<string>R.OPITIONS(3F)</string>
	<string>WELLNESS.CONCEPTS(3F)</string>
	<string>FILA(3F)</string>
	<string>HIP.STREET(3F)</string>
	<string>ROX(3F)</string>
	<string>TIMBERLAND(3F)</string>
	<string>BALLET.CENTER(3F)</string>
	<string>HARBOUR.CITY(3F)</string>
	<string>MY.JOY(3F)</string>
	<string>SALON.DE.ROSE(3F)</string>
	<string>ST.PAULS(3F)</string>
	<string>SALON.LOSE(3F)</string>
	<string>ABENSON(3F)</string>
	<string>ILLUMINAZIONE(3F)</string>
	<string>GHASSEMI.PERSIAN.CARPET(3F)</string>
	<string>PREMIUM.CONCEPTS(3F)</string>
	<string>COLLAGE(3F)</string>
	<string>AV.SURFER(3F)</string>
	<string>MOTHERS.FRIED.CHICKEN(3F)</string>
	<string>CD-R.KING(3F)</string>
	<string>EYES.CANDY(3F)</string>
	<string>COMIC.ALLEY(3F)</string>
	<string>TOY@WORK(3F)</string>
	<string>MY.PLAYROOM(3F)</string>
	<string>KITCHEN.PRO(3F)</string>
	<string>HERRYS(3F)</string>
	<string>PROMATE(3F)</string>
	<string>CRESCENDO(3F)</string>
	<string>TOP.GADGETS(3F)</string>
	<string>COLOURS(3F)</string>
	<string>CASELOGIC(3F)</string>
	<string>PICTURE.CITY(3F)</string>
	<string>CLASSIC.HIFI(3F)</string>
	<string>SAMSUNG1(3F)</string>
	<string>SONY1(3F)</string>
	<string>PROJEKT(3F)</string>
	<string>JBSPORTS(3F)</string>
	<string>HEALTH.OPTIONS(3F)</string>
	<string>SAMSUNG2(3F)</string>
	<string>ASIAN.HOME(3F)</string>
	<string>SONY2(3F)</string>
	<string>AUDIONET2(3F)</string>
	<string>AEROPHONE(3F)</string>
	<string>ALLPHONES(3F)</string>
	<string>CAPDASE(3F)</string>
	<string>CHERRY.MOBILE(3F)</string>
	<string>LG(3F)</string>
	<string>CELLPOD(3F)</string>
	<string>NGENUS(3F)</string>
	<string>TECH(3F)</string>
	<string>OCTANGON(3F)</string>
	<string>THINKING.TOOLS@MALL(3F)</string>
	<string>SILICON.VALLEY(3F)</string>
	<string>ELECTR.WORLD(3F)</string>
	<string>DATABLITZ(3F)</string>
	<string>DIGIBASE(3F)</string>
	<string>JUNREX(3F)</string>
	<string>HP.SOLUTION.CENTER(3F)</string>
	<string>ISTORE(3F)</string>
	<string>DAISO(3F)</string>
	<string>GINGERSNAPS(3F)</string>
	<string>TOYSRUS(3F)</string>
	<string>MCDONALDS(3F)</string>
	<string>STARMOBILE(3F)</string>
	<string>YELLOW.CAB(3F)</string>
	<string>SHAKEYS(3F)</string>
	<string>XCHANGE(3F)</string>
	<string>GREENWICH(3F)</string>
	<string>JOLLIBEE(3F)</string>
	<string>KERRY.RAGERS.ROASTERS(3F)</string>
	<string>PIZZA.HUT(3F)</string>
	<string>PAYLESS.SHOE.SCOUCE(3F)</string>
	<string>SPAGHETTI.FACTORY(3F)</string>
	<string>THE.DESSERT.FACTORY(3F)</string>
	<string>KUBLAI.KHAN(3F)</string>
	<string>GILIGANS.ISLAND(3F)</string>
	<string>CHOWKING(3F)</string>
	<string>BLIMS.FINE.FURNITURE(3F)</string>
	<string>FOUNTAINHEAD(3F)</string>
	<string>ORANGE.BRUTUS(3F)</string>
	<string>THE.ONE.STOP.HIP.SHOP(3F)</string>
	<string>AUTOMATIC.CENTRE(3F)</string>
	<string>KFC(3F)</string>
	<string>PLAY2.LEARN(3F)</string>
	<string>GUESS.KIDS(3F)</string>
	<string>GAME.GEAR(3F)</string>
	<string>OSH.KOSH.BGOSH(3F)</string>
	<string>SOFTCORE(3F)</string>
	<string>THE.YELLOW.HAT(3F)</string>
	<string>HANNAHS(3F)</string>
	<string>KABOOSH(3F)</string>
	<string>METRO.GAISANO.DEPARMENT.STORE(3F)</string>
	<string>ATM(3F)</string>
	<string>PREMIUM.CONCEPTS(3F)</string>
	<string>INK.FOR.LESS(3F)</string>
	<string>FONE.BOOK(3F)</string>
	<string>MOOSHI(3F)</string>
	<string>TEXAS.CREAMEY(3F)</string>
	<string>ICON(3F)</string>
	<string>AUDIONET1(3F)</string>
	<string>DUNKIN.DONUTS(3F)</string>
	<string>BUTTER.BEAN.COOKIE.FACTORY(3F)</string>
	<string>WAFFLE.TIME(3F)</string>
	<string>SHAWARMA(3F)</string>
	<string>G.FORCE(3F)</string>
	<string>MIZUNO(3F)</string>
	<string>MOCHIKO(3F)</string>
	<string>TABLEA(3F)</string>
	<string>AUNITIE.ANNES(3F)</string>
	<string>SST.LAPTOP.REPAIR.SPECIALIST(4F)</string>
	<string>PERA.PADALA(4F)</string>
	<string>GO.LARGE.GRAPHICS(4F)</string>
	<string>SKY.CABLE(4F)</string>
	<string>WESTERN.UNION(4F)</string>
	<string>OLVIS.VISA.SERVICES(4F)</string>
	<string>GRAND.HOPE(4F)</string>
	<string>MY.STUDIO(4F)</string>
	<string>MAGIC.FIT(4F)</string>
	<string>MAIL.AND.MORE(4F)</string>
	<string>COPYLANDIA(4F)</string>
	<string>HEALTH EXPRESS(4F)</string>
	<string>PHILHEALTH.EXPRESS(4F)</string>
	<string>CA.MANTARING(4F)</string>
	<string>2GO.EXPRESS(4F)</string>
	<string>CORE.PACIFIC.MONEY.EXCHANGEF(4F)</string>
	<string>M.LHUILLIER.PHILIPPINES(4F)</string>
	<string>SPEED.TALK(4F)</string>
	<string>LBC.EXPRESS(4F)</string>
	<string>GOLDEN.JC.HOLIDAY.TRAVEL(4F)</string>
	<string>SUAREZ.ARTS.AND.METALS(4F)</string>
	<string>A-1.DRIVING(4F)</string>
	<string>ISLAND.GRILL(4F)</string>
	<string>NETOPIA(4F)</string>
	<string>BENCH.FIX.SALON(4F)</string>
	<string>MALL.EXPRESS(4F)</string>
	<string>93RD&amp;1ST(4F)</string>
	<string>FLAME.IT!(4F)</string>
	<string>RED.MANGO(4F)</string>
	<string>TIKTILAO(4F)</string>
	<string>ZAGU(4F)</string>
	<string>TOKYO.JOE(4F)</string>
	<string>LEYLAM(4F)</string>
	<string>BALAMBAN.LIEMPO(4F)</string>
	<string>TACOS(4F)</string>
	<string>MASTER.SIOMAI(4F)</string>
	<string>PEPPER.LUNCH(4F)</string>
	<string>THE.SUITE.ROOM(4F)</string>
	<string>IDEA.ITALIA(4F)</string>
	<string>THE.COFFEE.BEAN&amp;TEA.LEAF(4F)</string>
	<string>STARBUCKS(4F)</string>
	<string>SEAFOOD.ISLADN(4F)</string>
	<string>CINEMA1(4F)</string>
	<string>ATM(4F)</string>
	<string>METRO.GAISANO.DEPARMENT.STORE(4F)</string>
	<string>FITNESS.FIRST(4F)</string>
	<string>TIMEZONE(4F)</string>
	<string>TATERS(4F)</string>
	<string>FUDGE(4F)</string>
	<string>ULLIS(4F)</string>
	<string>CINEMA2(4F)</string>
	<string>CINEMA3(4F)</string>
	<string>CINEMA4(4F)</string>
</array>
</plist>
