<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>PLAZA</string>
	<string>INGNI</string>
	<string>LACOSTE</string>
	<string>one.way.2nd</string>
	<string>TaylorMade-adidas.Golf</string>
	<string>Onitsuka.Tiger</string>
	<string>UNITED.ARROWS</string>
	<string>TULLYS.COFFEE</string>
	<string>THE.NORTH.FACE</string>
	<string>Levis</string>
	<string>Rope.Picnic</string>
	<string>niko.and...</string>
	<string>Celule</string>
	<string>HAWKINS＆VANS</string>
	<string>axes.femme</string>
	<string>Combi.style</string>
	<string>LOWRYS.FARM.GLOBAL.WORK</string>
	<string>OnOff</string>
	<string>BABYLONE.STOCK</string>
	<string>SHIPS</string>
	<string>Cath.Kidston</string>
	<string>ANTEPRIMA.bis</string>
	<string>NIKE</string>
	<string>graniph</string>
	<string>mont-bell/mont-bell</string>
	<string>UNDER.ARMOUR</string>
	<string>PALLAS.PALACE</string>
	<string>franche.lippee</string>
	<string>NEWYORKER</string>
	<string>AVIREX.DEPOT</string>
	<string>URBAN.RESEARCH</string>
	<string>OPAQUE</string>
	<string>EDWIN</string>
	<string>T-fal</string>
	<string>JINS</string>
	<string>GAP</string>
	<string>TOMMY.HILFIGER</string>
	<string>PAPAS.MADEMOISELLE.NONNON</string>
	<string>Diffusione.Tessile</string>
	<string>COLE.HAAN</string>
	<string>MICHAEL.KORS</string>
	<string>Vivienne.Westwood</string>
	<string>Paul.Smith</string>
	<string>ETRO</string>
	<string>ARMANI</string>
	<string>BARNEYS.NEW.YORK</string>
	<string>STARBUCKS</string>
	<string>POLO.RALPH.LAUREN</string>
	<string>Salvatore.Ferragamo.COMPANYSTORE</string>
	<string>Zegna</string>
	<string>JIMMY.CHOO</string>
	<string>BURBERRY</string>
	<string>JURGEN.LEHL.Babaghuri</string>
	<string>DAKS</string>
	<string>BANANA.REPUBLIC</string>
	<string>ESTNATION</string>
	<string>NOLLEYS</string>
	<string>FETE.le.Marche</string>
	<string>GODIVA</string>
	<string>BOSOSHIKINOKURA.SHUNSAI</string>
	<string>CHI-BA-KUN.PLAZA</string>
	<string>CHI-BA-KUN.MINI.STORE</string>
	<string>TOMITA.SEIMEN</string>
	<string>Han.Bi.Jea</string>
	<string>MUSASHI.SANUKI.UDON</string>
	<string>TORI.SANWA</string>
	<string>WAPPACHAYA.KAWANA</string>
	<string>Curry.Omrice.YOSHIMI</string>
	<string>IMAHAN</string>
	<string>BAIRAN</string>
	<string>FURON</string>
	<string>Mother.farm</string>
	<string>BURDIGALA.EXPRESS</string>
	<string>yutori.no.kūkan.market</string>
	<string>Lupicia.Bon.Marche</string>
	<string>Jurlique</string>
	<string>FEILER</string>
	<string>SEVEN.ELEVEN</string>
	<string>reparera</string>
	<string>ZWILLING.Group.Brand</string>
	<string>asics</string>
	<string>TACHIKICHI</string>
	<string>BANDAI</string>
	<string>FUKUSUKE</string>
	<string>ACE</string>
	<string>TEMPUR</string>
	<string>Sheltter/moussy</string>
	<string>QUIKSILVER</string>
	<string>adabat</string>
	<string>adidas/Reebok/ROCKPORT</string>
	<string>gelato.pique/snidel/FRAY.I.D</string>
	<string>AKaKuRa</string>
	<string>HAKKA</string>
	<string>BOSHIYA</string>
	<string>CECIL.McBEE</string>
	<string>BEAMS</string>
	<string>nano.universe</string>
	<string>LEGO</string>
	<string>BEBE</string>
	<string>Les.Olivades</string>
	<string>PECK.WORLD.GOURMET</string>
	<string>FAUCHON</string>
	<string>NIHONBASHI.KIYA</string>
	<string>CITIZEN</string>
	<string>KUA.AINA</string>
	<string>TONTON</string>
	<string>BOSSO</string>
	<string>NIXON</string>
	<string>SeeByChloe</string>
	<string>Folli.Follie</string>
	<string>TSUMORI.CHISATO</string>
	<string>Triumph</string>
	<string>EMODA</string>
	<string>Callaway</string>
	<string>MK.MICHEL.KLEIN</string>
	<string>ANNA.SUI.mini</string>
	<string>G-SHOCK</string>
	<string>XLARGE®/X-girl</string>
	<string>crocs</string>
	<string>NICOLE</string>
	<string>Banner.Barrett</string>
	<string>MAMMUT.STORE</string>
	<string>ABAHOUSE/Abahouse.Devinette</string>
	<string>ROSE.BUD</string>
	<string>B.C.STOCK</string>
	<string>MEISSEN</string>
	<string>kate.spade.new.york</string>
	<string>LeSportsac</string>
	<string>LeCreuset</string>
	<string>FRULA</string>
	<string>HUNTING.WORLD</string>
	<string>a.testoni</string>
	<string>Henry.Cottons</string>
	<string>Paul.Stuart</string>
	<string>RED.VALENTINO</string>
	<string>HUGO.BOSS.Factory.Store</string>
	<string>dunhill</string>
	<string>COACH</string>
	<string>LONGCHAMP</string>
	<string>A.P.C.</string>
	<string>MARC.BY.MARC.JACOBS</string>
	<string>PAUL.&amp;.JOE/PAUL.&amp;JOE.SISTER</string>
	<string>TO.BE.CHIC</string>
	<string>NARACAMICIE</string>
	<string>GHERARDINI</string>
	<string>PROFILE</string>
	<string>INTERNATIONAL.SHOES.GALLERY</string>
	<string>everydaybycollex</string>
	<string>Apuweiser-riche/Rirandture</string>
	<string>earth</string>
	<string>PUMA</string>
	<string>Wacoal</string>
	<string>Ciaopanic/DOUDOU</string>
	<string>LAURA.ASHLEY</string>
	<string>ZERO.HALLIBURTON</string>
	<string>LAMY</string>
	<string>carcru.stock</string>
	<string>sushi-train</string>
	<string>Obon.de.Gohan</string>
	<string>Dexee.Diner&amp;Cafe</string>
	<string>SEIKO</string>
	<string>RIEDEL/NACHTMANN</string>
</array>
</plist>
