<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>CROON.A.SONG(GL)</string>
	<string>SHIPS(GL)</string>
	<string>agnes.b.(GL)</string>
	<string>B.C.STOCK(GL)</string>
	<string>ROSE.BUD(GL)</string>
	<string>UNITED.ARROWS(GL)</string>
	<string>COACH(GL)</string>
	<string>DIESEL(GL)</string>
	<string>COLD.STONE.CREAMERY(GL)</string>
	<string>nano.universe(GL)</string>
	<string>BEAMS(GL)</string>
	<string>ig.cafe(GL)</string>
	<string>LUPICIA.Bon.Marche(GL)</string>
	<string>TOMORROWLAND(GL)</string>
	<string>NOLLEYS(GL)</string>
	<string>DOUBLE.STANDARD.CLOTHING(GL)</string>
	<string>FETE.le.Marche(GL)</string>
	<string>HUNTING.WORLD(GL)</string>
	<string>ANTEPRIMA.bis(GL)</string>
	<string>theory(GL)</string>
	<string>LACOSTE(GL)</string>
	<string>INTERNATIONAL.SHOES.GALLERY(GL)</string>
	<string>REGAL.FACTORY.STORE(GL)</string>
	<string>Rag.Mart.Factory(GL)</string>
	<string>mezzo.piano(GL)</string>
	<string>LEGO.clickbrick(GL)</string>
	<string>mixage(GL)</string>
	<string>F.O.FACTORY(GL)</string>
	<string>BEBE(GL)</string>
	<string>ACE(GL)</string>
	<string>Mitsumine(GL)</string>
	<string>TEIJIN.MENS.SHOP.RACK(GL)</string>
	<string>SCHIATTI.SHIRT.de.STOCK(GL)</string>
	<string>ROPE/adam.et.Rope(GL)</string>
	<string>BCBGMAXAZRIA(GL)</string>
	<string>LECIELBLEU(GL)</string>
	<string>COACH.MENS(GL)</string>
	<string>Bshop(GL)</string>
	<string>BANANA.REPUBLIC.FACTORY.STORE(GL)</string>
	<string>Diffusione.Tessile(GL)</string>
	<string>EDIFICE.IENA(GL)</string>
	<string>McDonaldS(GL)</string>
	<string>KobeTakoyaki(GL)</string>
	<string>LOCHE.MARKET.STORE(GL)</string>
	<string>JUICY.FRUITS(GL)</string>
	<string>DRAGON.RED.RIVER(GL)</string>
	<string>TOOTH.TOOTH.Paradise.Kitchen(GL)</string>
	<string>KOBE.BRAND(GL)</string>
	<string>MICHAEL.KORS(GL)</string>
	<string>ZWILLING.Group.Bland(GL)</string>
	<string>G-SHOCK(GL)</string>
	<string>STARBUCKS(GL)</string>
	<string>LAST.CALL(GL)</string>
	<string>HUMAN.WOMAN(GL)</string>
	<string>Franc.franc.BAZAR(GL)</string>
	<string>SEIKO(GL)</string>
	<string>chambre.de.charme(GL)</string>
	<string>le.coeur.blanc(GL)</string>
	<string>STRAWBERRY.FIELDS(GL)</string>
	<string>VICKY.FACTORY.STORE(GL)</string>
	<string>prose.verse(GL)</string>
	<string>WORLD.OUTLET(GL)</string>
	<string>TIMELESS.COMFORT(2F)</string>
	<string>TULLYS.COFFEE(2F)</string>
	<string>russet(2F)</string>
	<string>XLARGE@/X-girl(2F)</string>
	<string>IN(2F)</string>
	<string>Ital.Style(2F)</string>
	<string>FRED.PERRY(2F)</string>
	<string>URBAN.RESEARCH(2F)</string>
	<string>BABYLONE.STOCK(2F)</string>
	<string>PROFILE(2F)</string>
	<string>CECIL.McBEE(2F)</string>
	<string>AS.KNOW.AS(2F)</string>
	<string>JILL.STUART/NATURAL.BEAUTY.BASIC(2F)</string>
	<string>Fukusuke(2F)</string>
	<string>YEVS(2F)</string>
	<string>noah.noah(2F)</string>
	<string>Celule(2F)</string>
	<string>MK.MICHEL.KLEIN(2F)</string>
	<string>Wacoal(2F)</string>
	<string>NICOLE(2F)</string>
	<string>INGNI(2F)</string>
	<string>Sheltter.moussy(2F)</string>
	<string>mont-bell/mont-bell(2F)</string>
	<string>BILLABONG(2F)</string>
	<string>crocs(2F)</string>
	<string>le.coq.sportif(2F)</string>
	<string>Denime(2F)</string>
	<string>ESPERANZA(2F)</string>
	<string>EDWIN(2F)</string>
	<string>asics(2F)</string>
	<string>DANNER(2F)</string>
	<string>PUMA(2F)</string>
	<string>Bose(2F)</string>
	<string>THE.NORTH.FACE/HELLY.HANSEN(2F)</string>
	<string>Columbia(2F)</string>
	<string>Levis(2F)</string>
	<string>tempur(2F)</string>
	<string>UNDER.ARMOUR(2F)</string>
	<string>TIMEX(2F)</string>
	<string>NIKE(2F)</string>
	<string>MORI.MORI.SUSHI(2F)</string>
	<string>CONANA(2F)</string>
	<string>TSURUHASHIFUGETSU(2F)</string>
	<string>INDIAN.RESTAURANT.GAYLORD(2F)</string>
	<string>MENYAGENJIRO(2F)</string>
	<string>adidas/Reebok(2F)</string>
	<string>JEANISIS(2F)</string>
	<string>new.balance(2F)</string>
	<string>STUDIO.CLIP(2F)</string>
	<string>ATELIER.SAB(2F)</string>
	<string>NICE.CLAUP(2F)</string>
	<string>LOWRYS.FARM/GLOBAL.WORK(2F)</string>
	<string>MENS.BIGI(2F)</string>
	<string>NEWYORKER(2F)</string>
	<string>TASAKI(2F)</string>
	<string>Triumph(2F)</string>
	<string>OLIVE.des.OLIVE.ANOTHER.BRANCH(2F)</string>
	<string>BARCLAY.K.K.KOBE(2F)</string>
	<string>COULEUR.VARIE(2F)</string>
	<string>BOSHIYA(2F)</string>
	<string>axes.femme(2F)</string>
	<string>niko.and...(2F)</string>
	<string>Moms.REFORM(2F)</string>
	<string>MIDOREKEN(2F)</string>
	<string>Heartdance(2F)</string>
	<string>alook(2F)</string>
</array>
</plist>
