<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>The.garden.Yokohama(GL)</string>
	<string>Rokuro(GL)</string>
	<string>HARVEST(GL)</string>
	<string>PIZZERIA.1830(GL)</string>
	<string>suzuya(GL)</string>
	<string>Sakagami.Grand.Repas(GL)</string>
	<string>NEXT.DOOR.NEXT(GL)</string>
	<string>BEAMS(GL)</string>
	<string>J.FERRY(GL)</string>
	<string>prose.verse(GL)</string>
	<string>Le.MARCHE2(GL)</string>
	<string>a.v.v(GL)</string>
	<string>PET.PARADISE(GL)</string>
	<string>mikiHOUSE.REPRO(GL)</string>
	<string>FETE.le.Marche(GL)</string>
	<string>Triumph(GL)</string>
	<string>Franc.franc.BAZAR(GL)</string>
	<string>NEWYORKER(GL)</string>
	<string>Jines(GL)</string>
	<string>MK.MICHIEL.KLEIN(GL)</string>
	<string>BLOOM(GL)</string>
	<string>INTERPLANET.two(GL)</string>
	<string>B.C.STOCK(GL)</string>
	<string>Wacoal(GL)</string>
	<string>chambre.de.charme(GL)</string>
	<string>ATELIER.SAB(GL)</string>
	<string>Ropepicnic(GL)</string>
	<string>VIS(GL)</string>
	<string>Sheltter/moussy(GL)</string>
	<string>LAST.CALL(GL)</string>
	<string>BABYLONE.STOCK(GL)</string>
	<string>PAGEBOY(GL)</string>
	<string>NICOLE(GL)</string>
	<string>Account.of.journey.TOPKAPI(GL)</string>
	<string>ZWILLING.GROUP.BRAND(GL)</string>
	<string>BOSHIYA(GL)</string>
	<string>UNITED.ARROWS(GL)</string>
	<string>nano.universe(GL)</string>
	<string>NOLLEYS(GL)</string>
	<string>TULLYS.COFFEE(GL)</string>
	<string>UNDER.ARMOUR(GL)</string>
	<string>Ciaopanic(GL)</string>
	<string>NICE.CLAUP(GL)</string>
	<string>AS.KNOW.AS(GL)</string>
	<string>Bleu.Bleuet(GL)</string>
	<string>FUKUSUKE(GL)</string>
	<string>C/OSMETICS.Celul(GL)</string>
	<string>Kipling(GL)</string>
	<string>LEGO(GL)</string>
	<string>BEBE(GL)</string>
	<string>NIMES.STOCK(GL)</string>
	<string>COACH(GL)</string>
	<string>MARIO.GELATERIA(GL)</string>
	<string>festaria.bijou.SOPHIA(GL)</string>
	<string>ORiental.TRaffic(GL)</string>
	<string>STRAWBERRY-FIELDS(GL)</string>
	<string>COLE.HAAN(GL)</string>
	<string>INGNI(GL)</string>
	<string>NEXT.DOOR(GL)</string>
	<string>TAMA.culture.college(2F)</string>
	<string>PETECO.YOKOHAMA(2F)</string>
	<string>NIKE(2F)</string>
	<string>AIGLE(2F)</string>
	<string>Levis(2F)</string>
	<string>LACOSTE(2F)</string>
	<string>tempur(2F)</string>
	<string>Moms.Reform(2F)</string>
	<string>mont-bell.club/mont.bell(2F)</string>
	<string>adidas(2F)</string>
	<string>ROCKPORT(2F)</string>
	<string>Reebok(2F)</string>
	<string>REGAL(2F)</string>
	<string>PRICE.MAGIC(2F)</string>
	<string>ONOFF(2F)</string>
	<string>TEIJIN.MENS.SHOP.RACK(2F)</string>
	<string>Zoff(2F)</string>
	<string>PAZZO.WORKS(2F)</string>
	<string>MENS.BIGI(2F)</string>
	<string>JUNMEN(2F)</string>
	<string>LOCAL.MOTION(2F)</string>
	<string>PUMA(2F)</string>
	<string>PEARLY.GATES.LAST.CALL(2F)</string>
	<string>CANTERBURY.OF.NEW.ZEALAND(2F)</string>
	<string>SCHIATTI.SHIRT.de.STOCK(2F)</string>
	<string>G-SHOCK(2F)</string>
	<string>CITIZEN(2F)</string>
	<string>Columbia(2F)</string>
	<string>hot.box(2F)</string>
	<string>UNDER.ARMOUR(2F)</string>
	<string>SHOP.CHANNEL(2F)</string>
	<string>ROXY(2F)</string>
	<string>QUIKSILVER(2F)</string>
	<string>ACE(2F)</string>
	<string>asics(2F)</string>
	<string>Onitsuka.Tiger(2F)</string>
	<string>Hush.Puppies(2F)</string>
	<string>Munsingwear(2F)</string>
	<string>TaylorMade-adidas.Golf(2F)</string>
	<string>Eddie.Bauer(2F)</string>
	<string>THE.NORTH.FACE(2F)</string>
	<string>BILLABONG(2F)</string>
	<string>OIOI(2F)</string>
	<string>Hawkins(2F)</string>
	<string>EDWIN(2F)</string>
	<string>SOMETHING(2F)</string>
	<string>GLOBAL.WORK(2F)</string>
	<string>LOWRYS.FARM(2F)</string>
</array>
</plist>
