<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>TEIJIN.MENS.SHOP.RACK(GL)</string>
	<string>Diffusione.Tessile(GL)</string>
	<string>URBAN.RESEARCH(GL)</string>
	<string>OPAQUE(GL)</string>
	<string>REGAL(GL)</string>
	<string>SEIKO(GL)</string>
	<string>nano.universe(GL)</string>
	<string>TOMORROWLAND(GL)</string>
	<string>SHIPS(GL)</string>
	<string>MK.MICHEL.KLEIN(GL)</string>
	<string>BEAMS(GL)</string>
	<string>B.C.STOCK(GL)</string>
	<string>COACH(GL)</string>
	<string>FUKUSUKE(GL)</string>
	<string>Ciaopanic(GL)</string>
	<string>russet(GL)</string>
	<string>FETE.le.marche(GL)</string>
	<string>OLIVE.des.OLIVE(GL)</string>
	<string>point.dig(GL)</string>
	<string>MARIO.GELATERIA(GL)</string>
	<string>Triumph(GL)</string>
	<string>NICE.CLAUP(GL)</string>
	<string>cynthia(GL)</string>
	<string>LAST.CALL(GL)</string>
	<string>NOLLEYS(GL)</string>
	<string>a.v.v(GL)</string>
	<string>Seaport.Street(GL)</string>
	<string>Sam.Choys(GL)</string>
	<string>BAYSIDE.KITCHEN(GL)</string>
	<string>Cafe.506(GL)</string>
	<string>LONG(GL)</string>
	<string>Franc.franc.BAZAR(GL)</string>
	<string>TaylorMade-adidas.Golf(GL)</string>
	<string>OlOl(GL)</string>
	<string>Celule(GL)</string>
	<string>Zoff(GL)</string>
	<string>ZWILLING.Group.Brand(GL)</string>
	<string>F.O.FACTORY(GL)</string>
	<string>DANSK(GL)</string>
	<string>GAP(GL)</string>
	<string>Hawkins&amp;VANS(2F)</string>
	<string>BILLABONG(2F)</string>
	<string>QUIKSILVER(2F)</string>
	<string>MITSUMINE(2F)</string>
	<string>NIKE(2F)</string>
	<string>asics(2F)</string>
	<string>field.dream(2F)</string>
	<string>FRED.PERRY(2F)</string>
	<string>Levis(2F)</string>
	<string>Timberland(2F)</string>
	<string>EDWIN(2F)</string>
	<string>Reebok.F.O.S/ROCKPORT.F.O.S(2F)</string>
	<string>SCHIATTI.SHIRT.de.STOCK(2F)</string>
	<string>adidas(2F)</string>
	<string>mont-bell(2F)</string>
	<string>UP.SPORTS(2F)</string>
	<string>LEGO(2F)</string>
	<string>HELLY.HANSEN(2F)</string>
	<string>Columbia(2F)</string>
	<string>new.balance(2F)</string>
	<string>XLARGEⓇ/X-girl(2F)</string>
	<string>LOCAL.MOTION.FACTORY.STORE(2F)</string>
	<string>Foxfire(2F)</string>
	<string>le.coq.GOLF(2F)</string>
	<string>LACOSTE(2F)</string>
	<string>Eddie.Bauer(2F)</string>
	<string>UNDER.ARMOUR(2F)</string>
	<string>BIRKENSTOCK(2F)</string>
	<string>PUMA(2F)</string>
	<string>UNITED.ARROWS(2F)</string>
</array>
</plist>
